* {
	font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","Meiryo UI","Meiryo, メイリオ","sans-serif";
	box-sizing: border-box;
}

.container {
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
}

body {
	margin: 0;
	background-color: lightseagreen;
}

a {
	color: #477;
}

p {
	margin: 0;
}

#main-container {
	padding-top: 40px;
}

.box {
	background-color: rgba(255, 255, 255, .1);
	border: 2px solid rgba(255, 255, 255, .8);
	border-radius: 5px;
	margin: 10px 0;
	padding: 10px 15px;
	color: white;
}

input[type="submit"] {
	color: white;
	border: 2px solid white;
	background-color: transparent;
	border-radius: 5px;
	padding: 3px 10px;
}
input[type="submit"]:hover {
	color: rgba(255,255,255,.7);
	border: 2px solid rgba(255,255,255,.7);
}

input[type="text"], input[type="password"] {
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	background-color: transparent;
	padding: 4px 10px;
}

form {
	padding: 10px 5px;
}

form ul {
	padding-left: 0;
	margin: 0;
}

form ul li {
	list-style: none;
}

#main-menu {
	position: fixed;
	top: 0;
}

.main-menu-item {
	position: absolute;
}

.main-menu-item-1 { left: calc(120px * 0); }
.main-menu-item-2 { left: calc(120px * 1); }
.main-menu-item-3 { left: calc(120px * 2); }
.main-menu-item-4 { left: calc(120px * 3); }

.main-menu-tab, .main-menu-content {
	background-color: rgba(255, 255, 255, .7);
	color: lightseagreen;
}

.main-menu-tab {
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	padding: 0 10px;
	border-radius: 0 0 8px 8px;
	min-width: 100px;
	text-align: center;
	cursor: pointer;
}

.main-menu-tab a {
	color: lightseagreen;
	text-decoration: none;
}

.main-menu-content {
	display: none;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

.main-menu-content ul {
	margin: 0;
	padding-left: 20px;
}

#main-menu-score-content {
	width: 160px;
}